:root {
  --color-validacion-error: #cc0000;
}

body {
  display: flex;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.contenedor-logo {
  max-width: 300px;
  max-height: 300px;
}
.logo-gran-dt {
  width: 10rem;
  max-width: 18rem;
  object-fit: contain;
  object-position: center;
}

.contenedor-enlace-recupero-contrasenia {
  padding: 0;
}
.mensaje-error {
  font-size: 0.9;
  color: var(--color-validacion-error);
  opacity: 0;
}

.contenedor-consulta-inicio-sesion,
.contenedor-consulta-registro {
  margin-top: 16px;
}

.consulta-registro,
.consulta-inicio-sesion,
.consulta-olvido-contrasena {
  text-decoration: none;
}

/* Mensaje de bienvenida - Simulación de inicio de sesión exitoso */

.mensaje-de-bienvenida,
.mensaje-de-registro-completado {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#oculto {
  display: none;
}

/* Laptops y desktops chicos */
@media (min-width: 1024px) {
  .contenedor-inicio-sesion {
    display: flex;
    justify-content: start;
    padding: 100px 0;
  }
  .contenedor-logo {
    max-width: 350px;
    max-height: 350px;
  }
  .logo-gran-dt {
    width: 18rem;
    max-width: 25rem;
    object-fit: contain;
    object-position: center;
  }

  .contenedor-botones-inicio {
    width: 250px;
    margin: 25px 0;
  }

  .boton-crear-cuenta,
  .boton-ya-tengo-cuenta {
    width: 100%;
    height: 45px;
  }

  .contenedor-formulario-crear-cuenta,
  .contenedor-formulario-inicio-de-sesion {
    width: 300px;
  }
}
