:root {
  --color-validacion-error: #cc0000;
}

body {
  display: flex;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.contenedor-logo {
  max-width: 300px;
  max-height: 300px;
}
.logo-gran-dt {
  width: 10rem;
  max-width: 18rem;
  object-fit: contain;
  object-position: center;
}

.contenedor-botones-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-enlace-recupero-contrasenia {
  padding: 0;
}
.contenedor-formulario-crear-cuenta,
.contenedor-formulario-iniciar-sesion {
  width: 75%;
}
.mensaje-error {
  font-size: 0.9;
  color: var(--color-validacion-error);
  opacity: 0;
}

.contenedor-ya-tengo-cuenta {
  margin-top: 16px;
}

#oculto {
  display: none;
}
